<ul>
  <li>
    <a
      [routerLink]="['home']"
      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >Home</a
    >
  </li>
  <li>
    <a
      [routerLink]="['customers']"
      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >Customers</a
    >
  </li>
  <li>
    <a
      [routerLink]="['about']"
      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >About</a
    >
  </li>
  <li>
    <a
      [routerLink]="['customers', 123]"
      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >Customer > 123</a
    >
  </li>
</ul>
